.container {
	/* width: 100vw; */
	width: 100%;
}

.hero {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
}

.hero-image {
	flex: 1;
}

.hero-image > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero-content {
	display: flex;
	padding: 8;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #4B8BBE;
	text-align: center;
}

.hero-content__head {
	font-family: var(--font-secondary);
	font-size: 6rem;
}

.hero-content__body {
	font-family: var(--font-main);
	font-size: 1.5rem;
}

.hero-content__underlined {
	color: black;
	position: relative;
}

.hero-content__underlined::after {
	content: "";
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgb(105, 164, 212);
	z-index: -1;
}

.hero-btn {
	/* todo: make bigger */
}

.hero-content__buttons {
	display: flex;
	flex-direction: column;
}

.reason-wrapper {
	display: grid;
	grid-template-rows: auto repeat(2, 1fr);
	/* gap: .5rem; */
	padding: 4rem;
	/* background-color: bisque; */
	text-align: center;
	font-family: var(--font-main);
	align-items: center;
	justify-content: center;
}

.reason {
	display: flex;
	height: auto;
}

.reason__img {
	width: 40%;
}

.reason__img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reason__text {
	width: 60%;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self:center;
	font-size: 1.3rem;
}

.learn {
	font-family: var(--font-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.learn-header {
	text-align: center;
}

.learn-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
	width: 70%;
	align-items: center;
	justify-content: center;
}

.learn-item {
	display: flex;
	grid-column-gap: 1rem;
	align-items: center;
	justify-content: center;
}

.learn-item__head {
	font-weight: 700;
}

.check-img {
	width: 25px;
	height: 25px;
}

.join-us {
	font-family: var(--font-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.trailer-vid {}

.m-left {
	margin-left: 5;
}

.m-right {
	margin-right: 5;
}

@media screen and (max-width: 48em) {
	.reason-wrapper {
		padding: 0%;
	}
	.reason {
		flex-direction: column;
	}
	.reason__img {
		order: 1;
		align-self: center;
		/* align-items: center; */
		justify-content: center;
	}
	.reason__text {
		order: 2;
	}
	.hero-content {
		align-self: center;
		justify-content: center;
		text-align: center;
	}
	.hero-content__head {
		font-size: 4.5rem;
	}
	.hero-content__body {
		font-size: 1.5rem;
	}
	.hero-content__buttons {
		padding-bottom: 1rem;
	}
	.learn-container {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}
	.trailer-vid {
		width: 320px;
		height: 240px;
	}
}

@media screen and (max-width: 36em) {
	.hero-content__head {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 48em) {
	.hero {
		flex-direction: row;
	}
	.hero-content__buttons {
		flex-direction: row;
	}
}
