:root {
	--font-main: Work Sans;
	--font-secondary: Inter;
	--color-main: #4B8BBE;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

.btn {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: 700;
	border-radius: 9999px;
	text-align: center;
	font-size: 1rem;
	box-shadow: none;
    border-style: none;
	height: 3rem;
}

.btn-blue {
	background-color: #4299e1;
	color: white;
}

.heading {
	font-family: var(--font-secondary);
	color: var(--color-main);
	font-size: 3rem;
}