<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>BCS Python Competiton Club</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	{% block head %}{% endblock %}
</head>

<body>
	<!-- todo: navbar -->
	<div class="nav">
		
	</div>
	{% block content %}{% endblock %}
	<script>
		if (window.location.href.substring(0, 7) === "http://") {
			window.location.href = window.location.href.replace("http://", "https://")
		}
	</script>
	<!-- such as imports of script files -->
	{% block scripts %}{% endblock %}
</body>

</html>